<h1> Coffee Buzz! </h1>

<form action='/coffeeshops' method='GET'>
  Select a city:
  <select name='location'>
    <option value='Seattle, WA'>Seattle, WA</option>
    <option value='Boston, MA'>Boston, MA</option>
  </select>
  <input type='submit' value='Search'>
</form>

