<h1> Coffee Buzz! </h1>

<form action='/coffeeshops' method='GET'>
  Enter a city:
  <input type='text' placeholder='default: Seattle, WA' name='city'>
  <input type='submit' value='Search'>
</form>

