<h1> Coffee Buzz! </h1>

<form action='/coffeeshops' method='GET'>
  Select a city:
  <select name='location'>
    <option value='Seattle, WA'>Seattle, WA</option>
    <option value='Boston, MA'>Boston, MA</option>
    <option value='Chicago, Il'>Chicago, Il</option>
    <option value='Honolulu, HI'>Honolulu, HI</option>
    <option value='Las Vegas, NV'>Las Vegas, NV</option>
    <option value='San Francisco, CA'>San Francisco, CA</option>
    <option value='Orlando, Fl'>Orlando, Fl</option>
    <option value='Los Angeles, CA'>Los Angeles, CA</option>
    <option value='Miami, Florida'>Miami, Florida</option>
    <option value='New York, NY'>New York, NY</option>
  </select>
  <input type='submit' value='Buzz'>
</form>

