<h1> Coffeeshops in (insert location here) </h1>

<p> Pretend there's a list of coffeeshops here </p>
<p> Eventually this page will pull up a list of coffeeshops where the links direct to the Yelp pages </p>
<p> Hit buzz to have this site choose a coffeeshop for you </p>

<input type='button' value='Buzz!'>
